<%= link_to "Previous Month", entries_path(day: @date - 1.month) %>

	<h1><%= @date.strftime("%B") %></h1>
	
<%= link_to "Next Month", entries_path(day: @date + 1.month) %>

<table>
	<td class="span 2">
		Monday
	</td>
	
	<td class="span 2">
		Tuesday
	</td>

	<td class="span 2">
		Wednesday
	</td>

	<td class="span 2">
		Thursday
	</td>

	<td class="span 2">
		Friday
	</td>

	<td class="span 2">
		Saturday
	</td>

	<td class="span 2">
		Sunday
	</td>
	
	<% (@date.beginning_of_month.beginning_of_week..@date.end_of_month.end_of_week).each do |day| %>
	<% if day.monday? %>
	<tr>
	<% end %>

	<td>
		<%= link_to day.day, entries_path(day: day) %>
	</td>
	<% end %>
</table>
