


	



<div class="calendar well">
	<div class="header lead" style="text-align: center">
		<%= link_to "&larr;".html_safe, entries_path(day: @date - 1.month) %>
		<%= @date.strftime("%B") %>
		<%= link_to "&rarr;".html_safe, entries_path(day: @date + 1.month) %>
	</div>

<table>
	
 <div class='week'>
	<% (@date.beginning_of_month.beginning_of_week..@date.end_of_month.end_of_week).each do |day| %>
	<% if day.monday? %>
</div>
	<tr>

	<% end %>

	<td>
<div class='day'>
		<%= link_to day.day, entries_path(day: day) %>
</div>

	</td>
	<% end %>
</table>
</div>

